/* Google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Savate:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Savate:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?Teko&display=swap');

/* 4th
.space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
.edu-vic-wa-nt-hand-pre-<uniquifier> {
  font-family: "Edu VIC WA NT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.savate-<uniquifier> {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.alumni-sans-sc-<uniquifier> {
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/*------------------------------------------------------------------------ Variable Css -------------------------------------------------------------------------*/

:root {

    --first-hue: 260;
    --second-hue: 216;
    --first-color: hsl(var(--first-hue), 91%, 64%);
    --first-color-dark: hsl(var(--first-hue), 62%, 20%);
    --title-color: hsl(var(--second-hue), 8%, 85%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --body-color: hsl(var(--second-hue), 28%, 12%);
    --container-color: hsl(var(--second-hue), 28%, 15%);
    --font-color: hsl(var(--second-hue), 8%, 100%);
    --first-gradient: linear-gradient(150deg, var(--first-color), 0%, var(--white-color), 100%);
    --second-gradient: linear-gradient(260deg, var(--first-color-dark), 0%, var(--first-color), 100%);

    /* Font Family */
    --body-font: 'Space Grotesk', sans-serif;

    /* Font Sizes */
    --big-font-size: 8rem;
    --h1-font-size: 3.75rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.25rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

}


/*------------------------------------------------------------------------ Base ---------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 1.2;
}

p {
    line-height: 1.75;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;;
}

button,
input,
textarea {
    border: none;
    outline: none;
    background-color: transparent;
}

img {
    display: block;
    max-width: 100%;
}

/*------------------------------------------------------------------------ Reusable Css Classes  ----------------------------------------------------------------*/

.section {
    /* padding-block: 1rem 4rem; */
    padding-block: 85px 35px;
}

/* .button {
    display: inline-flex;
    background: var(--second-gradient);
    color: var(--white-color);
    padding: 1.25rem 2rem;
    border-radius: 0.5rem;
    font-weight: var(--font-semi-bold);
    transition: background 0.3s;
} */

.button {
    cursor: pointer;
    border: 0px solid rgb(187, 204, 0);
    font-family: Teko;
    font-size: 24px;
    color: rgb(68, 100, 145);
    padding: 10px 30px;
    transition: 3000ms;
    width: 200px;
    box-shadow: rgb(75, 137, 172) 7px 5px 25px 4px;
    border-radius: 25px;
    background: linear-gradient(164deg, rgb(172, 230, 246) 33%, rgb(228, 252, 249) 100%);
    --hover-width: 205px;
    --hover-borderSize: 0px;
    --hover-bgc: #e4fcf9;
    --hover-color: #ace6f6;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.button:hover{
    color: rgb(14, 14, 14);
    width: 205px;
    background: rgb(228, 252, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(204, 0, 105);
    border-width: 0px;
    border-style: solid;
}

.section-title {
    text-align: center;
    font-size: 70px;
    margin-bottom: 4.25rem;
}

/*------------------------------------------------------------------------ Layout  ------------------------------------------------------------------------------*/

.container{
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.grid {
    display: grid;
}

/*------------------------------------------------------------------------ Header and Nav ------------------------------------------------------------------------*/

.header{
    background-color: transparent;
    position: fixed;
    inset: 0 0 auto;
    z-index: 1000;
}

.nav,
.nav-list,
.nav-btns{
    display: flex;
}

.nav {
    /* background-color: #FFF2F2 var(--first-color);  */
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
    height: 4.5rem;
}

.nav-logo,
.nav-link,
.change-theme {
    color:  #A9B5DF/*var(--title-color)*/;
}

.nav-logo {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    font-family: "Alumni Sans SC", sans-serif;
    /* text-transform: uppercase; */
}
.nav-logo:hover {
    color: #A7C1A8 ;
}

.nav-menu {
    margin-left: auto;
}

.nav-list {
    column-gap: 2.75rem;
}

.nav-link {
    font-weight: var(--font-medium);
    transition: color 0.3s;
}

.nav-link:hover {
    color: #725CAD /*var(--font-color)*/;
}

.change-theme {
    font-size: 1.25rem;
}

.nav-btns {
    align-items: center;
    column-gap: 1rem;
}

.nav-close,
.nav-toggle {
    display: none;
}

/*------------------------------------------------------------------------ Home --------------------------------------------------------------------------------- */

.home-container {
    grid-template-columns: 1fr repeat(2, max-content);
    align-items: center;
    column-gap: 3rem;
    padding-top: 6rem;
}

.home-title {
    /* font-size: var(--big-font-size); */
    font-family: "Savate", sans-serif;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 2rem;
}

.home-job {
    font-size: 32px;
    font-weight: var(--font-semi-bold);
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    text-decoration: underline;
}

.home-description {
    font-size: 20px;
    margin-block: 1.5rem 2rem;
}

.home-img-wrapper {
    width: 38rem;
    background: linear-gradient(309deg,rgba(136, 166, 229, 1) 61%, rgba(141, 110, 200, 1) 100%);
    border-radius: 67% 33% 63% 37% / 63% 37% 63% 37% ;
    overflow: hidden; /*Image outside gets cut out within border radius*/
}

.home-social {
    row-gap: 1.25rem;;
}

.home-social-link{
    color: #C5BAFF;
    font-size: var(--larger-font-size);
    transition: color 0.3s;
}

.home-social-link:hover {
    color: #8F87F1;
}


/*------------------------------------------------------------------------ About ------------------------------------------------------------------------------ */

.about-container {
    grid-template-columns: 3fr 6fr 2fr;
    align-items:  center;
    column-gap: 4rem;
    padding-bottom: 120px;
    padding-top: 120px;
}

.about-experience {
    height: 500px;
    width: 250px;
    background: linear-gradient(309deg,rgba(136, 166, 229, 1) 61%, rgba(141, 110, 200, 1) 100%);
    border-radius: 15px;
    display: grid;
    place-content: center;
}

.about-no-top,
.about-rankholding {
    color: #576191;
    font-size: 40px;
    font-weight: bold;
    font-family: "Alumni Sans SC", sans-serif;
    text-align: center;
}

.about-at {
    font-size: 20px;
    font-weight: 200;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    text-align: center;
    color: #2D336B;
}

.about-onepercent,
.about-leetcode {
    color: #FFF2F2;
    font-size: 50px;
    font-weight: 900;
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
}

.about-leet,
.about-code {
    color: #393E46;
    font-family: "Alumni Sans SC", sans-serif;
}

.about-leet:hover,
.about-code:hover {
    color: #FFB823;
}

.about-and {
    color: #2D336B;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.about-Un {
    color: #27548A;
    font-family: "Alumni Sans SC", sans-serif;
}
.about-Un:hover {
    color: #FFF2F2;
}

.about-stop{
    color: #FFF2F2;
    font-family: "Alumni Sans SC", sans-serif;
}

.about-stop:hover {
    color: #27548A;
}

.about-description {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;;
}

.text-gradient {
    -webkit-text-fill-color: hsla(var(--second-hue), 8%, 85%, 0.2);
    background: linear-gradient(309deg,rgba(136, 166, 229, 1) 61%, rgba(141, 110, 200, 1) 100%);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

.about-data {
    row-gap: 2rem;
}

.about-item-no{
    font-size: var(--h2-font-size);
    margin-bottom: 0.125rem;
}

/*------------------------------------------------------------------------ Services ------------------------------------------------------------------------------ */

.services-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services-card {
    background: var(--container-color);
    padding: 2rem;
    border-radius: 1rem;
    transition: color 0.3s;
}

.services-card:hover {
    background: linear-gradient(209deg,rgba(136, 166, 229, 1) 81%, rgba(141, 110, 200, 1) 100%);
}

.services-no {
    color: #295F98;
    font-size: 25px;
    font-weight: bold;
}

.services-title {
    color: #0F67B1;
    font-size: 30px;
    font-weight: bold;
    margin-block: 0.75rem 0.75rem;
}

.services-description {
    color: #304463;
    font-size: 20px;
}

/*------------------------------------------------------------------------ Skills ------------------------------------------------------------------------------ */

.skills-container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 10rem;;
}

.skills-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 3rem;
}

.skills-items {
    grid-template-columns: repeat( 3, 1fr);
    gap: 4rem;
}

.skills-data {
    text-align: center;
}

.skills-blob {
    width: 90px;
    height: 110px;
    background-color: var(--container-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-inline: auto;
}

.skills-img {
    width: 40px;
}

.skills-name {
    font-size: 30px;
    margin-block: 0.5rem 0.25rem;
}

.skills-level {
    font-size: 15px;
}

/*------------------------------------------------------------------------ Resume ------------------------------------------------------------------------------ */

.resume-container {
    grid-template-columns: 0.6fr;
    justify-content: center;
    row-gap: 3rem;
}

.resume-item {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}

.resume-right {
    order: 2;
}

.resume-left {
    text-align: right;
}

.resume-icon {
    color: var(--title-color);
    font-size: 2.75rem;
}

.resume-title {
    font-size: var(--larger-font-size);
    margin-block: 0.75rem;
}

.section-title-margin-top {
    margin-top: 100px;
}

.resume-duration {
    font-size: var(--small-font-size);
}

.resume-container,
.resume-item {
    position: relative;
}

.resume-container::after,
.resume-item::after {
    content: '';
    position: absolute;
    top: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--title-color);
}

.resume-container::after {
    width: 2px;
    height: 100%;
}

.resume-item::after {
    width: 16px;
    height: 4px;
}

/*------------------------------------------------------------------------ Portfolio ------------------------------------------------------------------------------ */

.work-list {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
    margin-bottom: 3.5rem;
}

.work-item {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    position: relative;
    padding-bottom: 0.5rem;
    transition: color 0.3s;
}

.work-item:hover,
.active-work {
    color: var(--first-color);
}

.work-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    transition: width 0.3s;
}

.active-work::before {
    width: 60%;
}

.work-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75rem;
}

.work-card {
    background-color: var(--container-color);
    padding: 2rem;
    border-radius: 1rem;;
}

.work-img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    margin-bottom: 1.5rem;
}

.work-category {
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.work-title {
    font-size: var(--h3-font-size);
    margin-block: 0.75rem 1.75rem;
}

.work-description {
    min-height: 125px;
}

.work-link {
    display: inline-flex;
    align-items: center;
    column-gap: 0.75rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.work-icon {
    color: var(--first-color);
    font-size: 1.25rem;
    transition: transform 0.3s;
}

.work-link:hover .work-icon {
    transform: translateX(.25rem);
}